Flask
Flask-Login
Flask-Babel
Flask-SQLAlchemy
SQLAlchemy
python-dotenv
Werkzeug
APScheduler
requests
gunicorn

# Raspberry Pi / GPIO (installed only on Pi)
RPi.GPIO
spidev
gpiozero
adafruit-circuitpython-dht
