[Unit]
Description=Plant Monitor Flask Service
After=network.target

[Service]
WorkingDirectory=%h/plant-monitor
Environment="FLASK_APP=wsgi.py"
EnvironmentFile=%h/plant-monitor/.env
ExecStart=%h/plant-monitor/.venv/bin/gunicorn -w 3 -b 0.0.0.0:${FLASK_PORT:-8080} wsgi:app
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
